
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="postForm" id="post-form">
    <form>
        <div class="textarea">
            <textarea id="txtMsg" rows="3" cols="100"></textarea>
        </div>
        <div class="validation-summary hidden"></div>
        <div class="btn">
            <input type="submit" id="btnPost" value="Post" title="Post" disabled="true" />
        </div>
    </form>
</div>

<div id="dialog-form" title="Login">
    <form>
        <fieldset>
            <label for="userName">User Name</label>
            <input type="text" name="userName" id="userName" value="" class="text ui-widget-content ui-corner-all">
            <input type="submit" id="sbmUserName" tabindex="-1" style="position: absolute; top: -1000px">
        </fieldset>
    </form>
</div>

<div class="results" id="results"></div>

@section scripts{
    <script id="postTemplate" type="text/x-jquery-tmpl">
        <div class="post">
            <div>${TextMessage}</div>
            <div class="postDetails">
                &#64;<b>${UserName}</b> ${Manager.formatDate(DatePosted)}
                <a class="showComments" id="showComments_${Id}" msgId="${Id}">${Comments} comment(s)</a>
            </div>
            <div id="comments_${Id}">
            </div>
            <div id="comments_${Id}" class="hidden"></div>
            <div id="comment-form_${Id}" class="comment-form hidden" msgId="${Id}">
                <form>
                    <div class="textarea">
                        <input type="text" id="txtComment_${Id}" rows="2" cols="500"/>
                    </div>
                    <div class="validation-comments validation-summary_${Id} hidden"></div>
                    <div class="btn">
                        <input type="submit" class="btnComment" id="btnComment" value="Comment" title="Comment" disabled="true" />
                    </div>
                    
                </form>
            </div>
        </div>
    </script>
    <script id="commentTemplate" type="text/x-jquery-tmpl">
        <div class="comment">
            <div class="commentMsg">${TextMessage}</div>
            <div class="commentDetail">${UserName} ${Manager.formatDate(DatePosted)}</div>
        </div>
    </script>

    @Scripts.Render("~/bundles/simpleTwitter")
}